<!--
    view template파일을 추가할때, '>' 넣어준다
    파일 경로도 같이 표시해준다
 -->
{{>layouts/header}}
        <!-- content 현 페이지의 핵심내용 -->
        <div class="bg-dark text-white p-5">
            <h1>{{username}}님, 반갑습니다!</h1>
        </div>
{{>layouts/footer}}

