{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
        {{#article}}  <!-- 모델에 등록된 데이터는 #으로 가져온다 -->
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
        {{/article}}
    </tbody>
</table>

<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a> <!-- 해당 id수정-->
<!--  html에서는 post, get만 지원. JS사용해서 제대로 구현 가능! -->
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a>

<a href="/articles">Go to Article List</a>


{{>comments/_comments}}

{{>layouts/footer}}